<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Farm</title>
</head>

<body style=" background-color: rgb(212, 212, 212);">
    <h1>Add a Farm</h1>
    <form action="/farms" method="POST">
        <div>
            <label for="name">Farm Name</label>
            <input id="name" type="text" name="name" placeholder="Farm Name">
        </div>
        <div>
            <label for="city">City</label>
            <input id="city" type="text" name="city" placeholder="City">
        </div>
        <div>
            <label for="email">Farm Name</label>
            <input id="email" type="email" name="email" placeholder="Email">
        </div>
        <button style="display: block; margin: 0 auto; margin-top: 3em;">Add Product</button>
    </form>
    <a style="text-decoration:none;" href="/products">View All Products</a>
</body>

</html>